/* Fonts */

@import '@fontsource/lekton';
@import '@fontsource/reenie-beanie';

@font-face {
    font-family: 'Avenir Next LT Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Avenir Next LT Pro Regular.otf');
    font-display: swap;
}

/* Tailwind CSS */

@import "tailwindcss";

@theme {
    --font-lekton: 'Lekton', sans-serif;
    --font-reenie-beanie: 'Reenie Beanie', cursive;
    --font-avenir-next: 'Avenir Next LT Pro', sans-serif;

    --spacing-content: 1280px;
}

/* Custom CSS */

:root {
	font-family: 'Avenir Next LT Pro', sans-serif;
}

.px-safe-screen {
	@apply px-4 sm:px-10 lg:px-40;
}
