---
import Layout from "@/layouts/Layout.astro";
import { fetchAboutInfo } from "@/utils/cms";

const about = await fetchAboutInfo();
---

<Layout
  pageTitle="About"
  metaDescription="Learn more about Raymond and his works."
>
  <div
    class="px-safe-screen flex h-full w-full flex-row items-stretch justify-center py-8 lg:py-20"
  >
    <div
      class="max-w-content flex h-full grow flex-row items-stretch justify-start"
    >
      <div class="flex h-full w-full flex-col gap-4 sm:w-[500px]">
        <h2 class="mb-10 text-3xl">{about.title}</h2>
        <p class="text-xs font-light text-gray-500">{about.description}</p>
        <span class="font-reenie-beanie text-3xl"> Raymond Wu </span>
        <div class="h-20"></div>
        <p class="text-xs font-light text-gray-500">{about.quote_title}</p>
        <p class="font-lekton text-xs tracking-wide">{about.quote}</p>
      </div>
    </div>
  </div>
</Layout>
