---
import { PUBLIC_GITHUB_REPO_URL } from 'astro:env/server';
---

<p class="text-gray-500 text-xs py-10">
	© 2023 Raymond Wu. All rights reserved. Applies to all contents.
	<a class="underline" href={PUBLIC_GITHUB_REPO_URL}>Github</a>.
</p>