---
import { PUBLIC_GITHUB_REPO_URL } from "astro:env/server";

const currentYear = new Date().getFullYear();
---

<p class="py-10 text-xs text-gray-500">
  © {currentYear} Raymond Wu. All rights reserved. Applies to all contents.
  <a class="underline" href={PUBLIC_GITHUB_REPO_URL}>Github</a>.
</p>
